<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index Page</title>
</head>
<body>
Index Page
<form method="post" action="/logout">
    <button type="submit">logout</button>
</form>
</body>
</html>